@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Vina+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron:wght@900&display=swap');

h3{
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;   
}

.ho{
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;   
}

.redes{
font-family: 'Vina Sans', sans-serif;
font-size: 35px;
}

.titulo{
    font-family: 'Orbitron', sans-serif;
}

.sinS{
    text-decoration: none;
    color: black;
}

.tabla1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 35px;
}

.tabla2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}